---
---

@import "portfolYOU";

$color-main: #28a745;

.timelineBody {
  &::after {
    background: {
      color: $color-main;
    }
  }
}

.timelineBody,
.timeline-item {
  &::after {
    border: 4px solid {
      $color: $color-main;
    }
  }
}

.link-after {
  background: {
    color: $color-main;
  }
}
.nav-link,
.navbar-brand {
  &::after {
    background: {
      color: $color-main;
    }
  }
}
.nav-item.active {
  &::after {
    background: {
      color: $color-main;
    }
  }
}
.navbar-brand {
  &::after {
    background: {
      color: $color-main;
    }
  }
}
