---
---

@import "portfolYOU";

$color-main: #28a745;

$background-color_1: #ff0000;

.timeline-body {
  &:after {
    content: "";
    width: 4px;
    height: 100%;
    background-color: $background-color_1;
    position: absolute;
    left: -4px;
    top: 0;
  }
}

.link-after {
  background: {
    color: $color-main;
  }
}
.nav-link,
.navbar-brand {
  &::after {
    background: {
      color: $color-main;
    }
  }
}
.nav-item.active {
  &::after {
    background: {
      color: $color-main;
    }
  }
}
.navbar-brand {
  &::after {
    background: {
      color: $color-main;
    }
  }
}
