---
---

@import "portfolYOU";

.timelineBody {
  &::after {
    background: #28a745;
  }
}

.link-after {
  background: #28a745;
}
.nav-link,
.navbar-brand {
  &::after {
    background: #28a745;
  }
}
.nav-item.active {
  &::after {
    background: #28a745;
  }
}
.navbar-brand {
  &::after {
    background: #28a745;
  }
}
